<mat-tab-group>
  <mat-tab label="Home">
    Through my work experiences, I have learned self-discipline, how to effectively manage time,
    a dedication to a higher purpose, as well as the ability to communicate effectively with
    people of all races, creeds, and religions. 
  </mat-tab>
  <mat-tab label="About">
    It has been about two years since I discovered a passion and drive for creative, responsive
    web development. Over these past couple years I have been focused on learning everything
    I can in order to improve myself as well as my technical skills.
  </mat-tab>
  <mat-tab label="Contact">
    This section will contain ways to contact me directly. The easiest way to contact me is through
    email at deux02030@gmail.com. I have listed my social media profiles as well for your convience.
    <li><a href="https://www.linkedin.com/in/nbold3/">LinkedIn</a></li>
    <li><a href="https://github.com/lazarus432">GitHub</a></li>
  </mat-tab>
</mat-tab-group>
